/******************************************************************
Site Name: SPI
Author: Civil Services

Stylesheet: Main Stylesheet

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/

/*
-------------------------------------------------------------
	V E N D O R S
------------------------------------------------------------- */
@import "vendors/normalize";
@import "vendors/bourbon/bourbon";
@import "vendors/grid";

/*
-------------------------------------------------------------
	U T I L I T I E S
------------------------------------------------------------- */
/*
	These files are needed at the beginning so that we establish all
	our mixins, functions, and variables that we'll be using across
	the whole project.
*/

@import "utilities/variables";
@import "utilities/functions";
@import "utilities/mixins";


/*
-------------------------------------------------------------
	B A S E
------------------------------------------------------------- */
@import "base/typography";
@import "base/icons";


/*
-------------------------------------------------------------
	M O D U L E S
------------------------------------------------------------- */
/*
	Modules are reusable blocks or elements we use throughout the project.
*/

@import "modules/buttons";
@import "modules/forms";
@import "modules/links";
@import "modules/modals";

/*
-------------------------------------------------------------
	L A Y O U T
------------------------------------------------------------- */
@import "layout/body";
@import "layout/header";
@import "layout/nav";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/post";


/*
-------------------------------------------------------------
	P A R T I A L S
------------------------------------------------------------- */
/*
	Larger chunks of rules that are unique to specific pages or sections of pages
*/
@import "partials/pagination";
@import "partials/events";
@import "partials/members";
@import "partials/search";


/*
-------------------------------------------------------------
	M E D I A
------------------------------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	@import "media/retina";

}

@media print {

	@import "media/print";

}
