/*
-------------------------------------------------------------
  M I X I N S
------------------------------------------------------------- */

@mixin svgImage($filename, $w, $h, $folder: 'icons/', $display: inline-block ) {
	background-image: url("../images/" + $folder + $filename + ".svg");
	background-position: center center;
	background-repeat: no-repeat;
	width: $w;
	height: $h;
	display: $display;
	html.no-svg & {
		background-image: url("../images/" + $folder + $filename + ".png");
	}
}

@mixin trans($duration: 0.3s, $timing: linear) {
  transition: all $duration $timing;
  -o-transition: all $duration $timing;
  -moz-transition: all $duration $timing;
  -webkit-transition: all $duration $timing;
}

@mixin shadow {
  -moz-box-shadow: 0 2px 4px #d1d0d0;
  -webkit-box-shadow: 0 2px 4px #d1d0d0;
  box-shadow: 0 2px 4px #d1d0d0;
}