

@mixin svgImage($filename, $w, $h, $folder: 'icons/', $display: inline-block ) {
	background-image: url("../images/" + $folder + $filename + ".svg");
	background-position: center center;
	background-repeat: no-repeat;
	width: $w;
	height: $h;
	display: $display;
	html.no-svg & {
		background-image: url("../images/" + $folder + $filename + ".png");
	}
}