{% extends "base.twig" %}

{% block content %}

<article id="post-{{post.ID}}" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="row">

        <h1 class="page-title large-8 column large-centered small-centered credits-title">The Site's Navel</h1>

    </header>

    <section class="primary-about-sections entry-content cf" itemprop="articleBody">
        <div class="about-section credits-section four-oh-four">
            <article>

                        <p>There is often a page in even the most thoroughly interpreted website which has to be left obscure; this is because we become aware, during the work of interpretation, of a tangle of web-thoughts which cannot be unraveled, and which moreover adds nothing to our knowledge of the content of the site. This is the site's navel, the spot where it reaches down into the unknown.</p>

            </article>
        </div>

    </section>

</article>



{% endblock %}
