{% extends "base.twig" %}

{% block content %}

<article id="post-{{post.ID}}" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="article-header row">

        <h1 class="page-title large-7 column large-centered small-centered">{{post.page_title}}</h1>

        <div class="subnav">
            {% include 'about-nav.twig' %}
        </div>


    </header>


    <section class="primary-about-sections entry-content cf" itemprop="articleBody">
        {% for about_section in about_sections %}
            {% include "about-section.twig" with { post : about_section} %}
        {% endfor %}
    </section>

    <section class="director-about-section entry-content row">
        {% for director in directors %}
            {% include "members.twig" with { post : director } %}
        {% endfor %}
    </section>

     <section class="member-about-section entry-content row">
        {% for member in members %}
            {% include "members.twig" with { post : member } %}
        {% endfor %}
    </section>

</article>

{% endblock %}
