<ul class="nav about-nav cf">
    <li class="menu-item menu-item-type-custom menu-item-object-custom">
        <a href="#">Recent Posts</a>
	</li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom">
        <a href="#">Categories</a>
	</li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom">
        <a href="#">Full Archive</a>
	</li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom">
        <a href="#">Editorial Info</a>
	</li>
</ul>