<ul class="nav about-nav cf">
    <li class="menu-item">
        <a class="js-toggle-blog-list js-active-link" href="#">Recent Posts</a>
	</li>
    <li class="menu-item ">
        <a class="js-open-cats" href="#">Categories</a>
	</li>
    <li class="menu-item">
        <a class="js-toggle-blog-info" href="#">Editorial Info</a>
	</li>
</ul>
