{% extends "base.twig" %}

{% block content %}

<article id="post-{{post.ID}}" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    {% include "blog-header.twig" %}

    {% include "blog-info.twig" %}

    <div id="blog-list" class="row js-isotope">
        {% for post in posts %}
            {% include "blog-listing-item.twig" %}
        {% endfor %}
    </div>

</article>

{#
{% include 'modal-blog-categories.twig' %}
{% include 'modal-blog-archives.twig' %}
#}

{% endblock %}
