{% extends "base.twig" %}

{% block content %}

<article id="post-{{post.ID}}" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    {% include "blog-header.twig" %}

    {% include "blog-info.twig" %}

    <section id="blog-list">
      <h2 class="blog-list-title"> Communications </h2>
      <div class="row js-isotope">
        {% for post in posts %}
            {% include "blog-listing-item.twig" %}
        {% endfor %}
      </div>
    </section>

</article>


{% include 'modal-blog-categories.twig' %}
{% include 'modal-blog-archives.twig' %}


{% endblock %}
