{% extends "base.twig" %}

{% block content %}

<article id="post-{{post.ID}}" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="row">

        <h1 class="page-title large-8 column large-centered small-centered credits-title">{{post.post_title}}</h1>

    </header>

    <section class="primary-about-sections entry-content cf" itemprop="articleBody">
        <div class="about-section credits-section">
            <article>


                        {{post.content}}

            </article>
        </div>

    </section>

</article>



{% endblock %}
