<ul class="nav about-nav cf">
  <li id="menu-item-392" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-392">
    <a href="#" class="js-filter-all">All</a>
	</li>
    {% if has_upcoming %}
    <li id="menu-item-344" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-344">
    <a href="#" class="js-filter-upcoming">Upcoming</a>
	</li>
    {% endif %}
    {% if has_ongoing %}
    <li id="menu-item-345" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-345">
    <a href="#" class="js-filter-ongoing">Ongoing</a>
	</li>
    {% endif %}
    {% if has_past %}
    <li id="menu-item-346" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-346">
    <a href="#" class="js-filter-past">Past</a>
	</li>
    {% endif %}
</ul>