<div class="footer-blocks clearfix">
  <div class="footer-block" id="contact-info">
    <h4>General Contact</h4>
    <p class"info-text">
    Society for Psychoanalytic Inquiry
    <br/>
    1315 Foulkrod Street
    <br/>
    Philadelphia, PA 19124
    <br/>
    (215) 288-5860
    <br/>
    </p>
  </div>

  <div class="footer-block" id="site-contents">
    <h4>Site Contents</h4>
    {% include 'footer-links.twig' %}
  </div>

  <div class="footer-block" id="social-links">
    <h4>Social Media</h4>
    {% include 'social-links.twig' %}
  </div>

  <div class="footer-block" id="news-signup">
    <h4>SPI Newsletter</h4>
    <button type="submit" class="js-open-newsletter-modal open-newsletter-modal">Subscribe</button>
  </div>
</div>

<div class="copyright">
  <p class="copyright">All text &amp; design is copyright ©2012-2014 Society for Psychoanylitic Inquiry. All rights reserved.<br/>
</div>
