{% extends "base.twig" %}

{% block content %}

<article id="post-{{post.ID}}" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="row library-header">

        <h1 class="page-title large-7 column large-centered small-centered">{{post.library_page_title}}</h1>

    </header>

    <section class="primary-about-sections entry-content cf" itemprop="articleBody">
        <div class="about-section">
            <article>
                <section class="article-content">
                    <div class="article-body">
                        {{post.get_field('description')}}
                    </div>
                </section>

            </article>
        </div>
    </section>

    {% for library_section in library_sections %}
        {% include "library-section.twig" with { post : library_section} %}
    {% endfor %}

</article>

{% endblock %}
