<section id="fixed-navbar-mobile" class="nav show-for-small">
	<div class="row">
		<div class="large-12 column icon-link-wrapper">
			<a href="#" class="icon-menu"></a>
     	<a href="{{site.url}}" class="mobile-logo" rel="nofollow"></a>
			<a href="#" class="icon-search"></a>
		</div>
	</div>
</section>