<section class="js-search-modal search-modal" style="display:none;">
	<a href="javascript:void(0);" class="js-hide-search-modal link icon-close-white"></a>
	<div class="row menu-link-container">
		<div class="large-5 large-centered column">
			<form action="{{site.url}}" method="GET">
				<h4>Looking for something?</h4>
				<input type="text" name="s" autocomplete="off" placeholder="What are you searching for?">
				<button type="submit" class="blue-button">Search</button>
				<a href="#" class="secondary-btn">Forget It</a>
			</form>
		</div>
	</div>
</section>