<section class="js-search-modal search-modal" style="display:none;">
	<a href="javascript:void(0);" class="js-hide-search-modal link icon-close-white"></a>
	<div class="row menu-link-container">
		<div class="large-12 large-centered column">
			<form action="">
				<h2>Looking for something?</h2>
				<input type="text" placeholder="What are you searching for?">
				<button type="submit">Search</button>
				<a href="#">Forget It</a>
			</form>
		</div>
	</div>
</section>