<section class="js-blog-arch-modal blog-arch-modal" style="display:none;">
  <a href="javascript:void(0);" class="js-hide-blog-arch-modal link icon-close-white"></a>
  <div class="row menu-link-container">
    <div class="js-clickable-area large-6 large-centered column">

      <ul>
        <li><a class="" href="#">monthly archive...</a></li>
      </ul>

    </div>
  </div>
</section>
