<ul class="nav cf hide-for-small">
  <li id="about-item" class="menu-item"><a href="{{site.url}}/about">About</a></li>
  <li id="projects-item" class="menu-item"><a href="{{site.url}}/projects">Projects</a></li>
  <li id="home-item"><a href="{{site.url}}" rel="nofollow"></a></li>
  <li id="events-item" class="menu-item"><a href="{{site.url}}/events">Events</a></li>
  <li id="search-item" class="menu-item"><a href="#">Search</a></li>
</ul>
