{% extends "base.twig" %}

{% block content %}

<article id="post-{{post.ID}}" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="article-header row">
        <h1 class="page-title large-5 column large-centered small-centered">{{post.title}}</h1>

        <div class="subnav">
            {% include 'projects-nav.twig' %}
        </div>

    </header>

    <section class="projects-overview">
        <h2>Overview</h2>
        <div>{{post.get_field('overview')}}</div>
    </section>

    <section class="project-sections">
        {% for project_section  in project_sections %}
            {% include "project-section.twig" with { post : project_section} %}
        {% endfor %}
    </section>

</article>

{% endblock %}
