/*
-------------------------------------------------------------
  G E N E R A L
------------------------------------------------------------- */

body {
    background-color: $page;
    text-align: center;
}

/*
-------------------------------------------------------------
  L A Y O U T
------------------------------------------------------------- */

.wrap {
    width: 96%;
    margin: 0 auto;
}

#container,{
  margin: 1.25em;
  margin-top: 3.5em;
}

.category-pre-header {
  margin-bottom: .25em;
}

.about-section {
  [class*="column"]+[class*="column"]:last-child {
    float: left;
  }
}

.library-header {
  border-bottom: solid 1px $blue;
  margin-bottom: 4em;
}
.feature-block {
  margin-bottom: 3em;
  h6 {
    margin: 0.5em 0 2em 0;
  }
}

.feature-info {
  margin-top: 5em;
  margin-bottom: 1em;
}

.credits-section p{
  text-indent: 0 !important;
}


%max-width-section {
  max-width: 830px;
  margin: 0 auto;
}


@media only screen and (min-width: 481px) { /* Larger Mobile Devices */
  #container{
    margin: 2em;
    margin-top: 4em;
    margin-bottom: 1.75em;
  }
  .feature-block {
    h6 {
      font-size: 19px;
      line-height: 21px;
    }
  }
}

@media only screen and (min-width: 768px) { /* Tablets, smaller laptops */
  .feature-block {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    text-align: center;
    z-index: 9;
    margin-bottom: 0;
    h1 {
      font-size: 30px;
      line-height: 36px;
    }
    h5 {
      margin: 0 0 0.2em 0;
      font-size: 21px;
      line-height: 32px;
    }
    h6 {
      margin: .4em 0 0;
      font-size: 19px;
      line-height: 21px;
    }

    .feature-info {
      margin: 0;
      width: 40%;
      background: $page;
      position: relative;
      padding: 2em 2em 3em 2em;
      top: 50%;
      left: 30%;
      transform: translateY(-50%);
      a{text-decoration:none;}

    }
  }
  .wrap {
    width: 760px;
  }

  #container {
    margin: 3em;
    margin-top: 5em;
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 1030px) { /* Desktop */
  .feature-block {
    height: 585px;
    h1 {
      font-size: 40px;
      line-height: 45px;
    }
    h5 {
      margin: 0 0 0.2em 0;
      font-size: 25px;
      line-height: 34px;
    }
    h6 {
      margin: .4em 0 0;
      font-size: 22px;
      line-height: 28px;
    }
  }

  .wrap {
    width: 1040px;
  }

  #container {
    margin: 0 4em;
    margin-top: 5em;
    margin-bottom: 2.25em;
  }
}

@media only screen and (min-width: 1300px) { /* Larger monitors, full screen viewers */
  .feature-block {
    height: 800px;
    h1 {
      font-size: 66px;
      line-height: 66px;
    }
    h5 {
      margin: 0 0 0.4em 0;
    }
    h6 {
      margin: .4em 0 0;
    }
  }
  .wrap {
    width: 1040px;
  }

  #container{
    margin: 4em;
    margin-top: 5em;
    margin-bottom: 2.25em;
  }
}
