/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    text-rendering: optimizelegibility;
    /*
    if you're going to use webfonts, be sure to check your weights
    http://css-tricks.com/watch-your-font-weight/
    */

    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

/*********************
HEADER STYLES
*********************/

.about-section {
  margin-bottom: 1.8em;
}

.header {
  // background-color: $black;

  text-align: center;
  #inner-header {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    display: inline;
    position: absolute;
    left:0;
    top:0;
    width: 100%;

  }
}

#logo {
  margin: 0.75em 0;

  a {
    color: $blue;
  }
}
