/*
-------------------------------------------------------------
	B L O G   L I S T I N G   P A G E
------------------------------------------------------------- */





@media only screen and (min-width: 481px) {

	.blog-list-item {
	  p {
	    font-size: 22px;
	    line-height: 27px;
	    margin: 0 0 1em 0;
	  }
	}
}