/*
---------------------------------
  D O N A T I O N S   P A G E
--------------------------------- */
.dontations-header {
	padding-bottom:  .75em;
	border-bottom: solid 1px $blue;
	margin-bottom:  .75em;
}

.donation-form-section {
	padding: 10px 0;
	margin-bottom: 25px;
	input[type="text"] {
		@extend %large-input;
	}
}


@media only screen and (min-width: 481px) { /* Larger Mobile Devices */

}

@media only screen and (min-width: 768px) { /* Tablets, smaller laptops */

	.donation-form-section {
		margin-bottom: 50px;
		padding: 20px 0;
	}

}

@media only screen and (min-width: 1030px) { /* Desktop */

}

@media only screen and (min-width: 1240px) { /* Larger monitors, full screen viewers */

}
