/*
-------------------------------------------------------------
  E V E N T S   L A N D I N G   P A G E
------------------------------------------------------------- */
.event-item-wrapper {
	margin-bottom: 38px;
	img:not(.thumbnail),
	.callout {
		@include shadow;
	}
	.info-text {
		margin-bottom: 8px;
	}
	.h5 {
		margin: 0 0 .5em 0;
	}
	.callout {
		position: relative;
		padding: 40px;
		margin: .8em 0 .5em 0;
		.h5 {
			margin: 0;
			font-size: 50px;
			line-height: 53px;
		}
		a {
			@include hyphenate;
		}
	}
	a {
		@include trans(0.3s);
	}
	.thumbnails-wrapper {
		position: relative;
	}
	.thumbnail {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 1;
	}
	&:hover {
		.thumbnail {
			opacity: 0;
		}
		a:not(.thumbnail) {
			text-decoration: underline;
		}
	}
}


.event-item-wrapper {
	.tag {
    position: absolute;
    right: 0;
    bottom: -14px;
    left: 0;
    margin-right: auto;
    margin-left: auto;
		span {
			display: inline-block;
			border: 1px solid $blue;
			padding: 4px 16px 1px;
			background-color: $page;
			font-family: $links;
			font-size: 14px;
			line-height: 14px;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
}

/*
-------------------------------------------------------------
  S I N G L E   E V E N T   P A G E
------------------------------------------------------------- */

/* Event detail section - Ticket info, date and time, location */
.event-details {
	border-top: 1px solid $blue;
	.info-text {
	  text-align: center;
	}
	section {
		margin-top: 35px;
		p {
			@extend .info-text;
			margin-bottom: 0;
		}
	}
}


/* Event details text sections */
.event-section {
	@extend .entry-content;
	margin: 0 0 3em 0;
	p {
		text-indent: 0;
		&:not([style*="text-align: center"]) { /* Only text-indent if text is not center-aligned */
			text-indent: 3em;
		}
	}
	img {
		margin-bottom: 0;
	}
}

/* Event poster section */
.event-poster-section {
  margin-top: 3em;
  img {
  	@include shadow;
  	margin: 0 0 1em 0;
  }
}


@media only screen and (min-width: 481px) { /* Larger Mobile Devices */

}

@media only screen and (min-width: 641px) { /* Tablets, smaller laptops */

	.event-details section {
		margin-top: 2.5em;
		padding: 1.5em 0;
		border-left: 1px solid $blue;
		min-height: 180px;
	}

	.event-poster-section {
	  margin-top: 5em;
	}

	.event-details section.event-location-section {
		border: none;
	}
}

@media only screen and (min-width: 1030px) { /* Desktop */
	.event-section {
		margin: 0 0 4em 0;
	}

	.event-details section {
	  padding: 1.5em 2em;
	  min-height: 160px;
	}

	.event-poster-section {
	  img {
	    width: 55%;
	    max-width: 55%;
	  }
	}

}

@media only screen and (min-width: 1240px) { /* Larger monitors, full screen viewers */
	.event-details section {
	  min-height: 100px;
	}
}