/*
-------------------------------------------------------------
  L I B R A R Y
------------------------------------------------------------- */
.library-intro-section p {
	text-indent: 0 !important;
}

.resource-section {
	h2 {
		margin-bottom: 1.4em;
	}
	ul {
		margin-bottom: 4em;
		text-align: center;
	}
	li {
		margin-top: -6px;
	}
}



.resource {
	@extend .link;
	display: inline-block;
	a {
		clear: both;
		display: block;
		float: left;
		line-height: 1.1em;
		text-decoration: none;
	}
	a:hover, a:focus {text-decoration: underline;}
	i {
		margin: 9px 4px 0 0;
	}
}
