/*
-------------------------------------------------------------
  M E M B E R S
------------------------------------------------------------- */
.director-about-section,
.member-about-section {
	margin-bottom: 0;
}

.member-section {
	margin-top: 1.5em;
	.headshot {
		max-width: 246px;
		width: 100%;
		margin-bottom: 1.2em;
	}
	.email	{
		text-transform: uppercase;
		word-wrap: break-word;
	}
	h4,
	h5 {
		margin-bottom: 0.3em;
		font-size: 14px;
		line-height: 16px;
	}
	h6 {
		font-size: 10px;
		line-height: 12px;
	}
}

.director-about-section .single-member {
	min-height: 230px;
}

.member-about-section .single-member {
	min-height: 190px;
}


@media only screen and (min-width: 481px) { /* Larger Mobile Devices */

}

@media only screen and (min-width: 768px) { /* Tablets, smaller laptops */
	.member-section {
		.headshot {
			margin: 3em auto 1.2em;
			padding: 0;
		}
		h4,
		h5 {
			margin-bottom: 0.2em;
			font-size: 30px;
		}
		h6 {
			font-size: 20px;
		}
	}
}

@media only screen and (min-width: 1030px) { /* Desktop */
	.headshot {
	  padding: 0 40px;
	}
}

@media only screen and (min-width: 1240px) { /* Larger monitors, full screen viewers */
	.headshot {
	  padding: 0 60px;
	}
}