/*********************
MEMBERS
*********************/
.member-section {
	.headshot {
		max-width: 246px;
		width: 100%;
		margin-bottom: 1.2em;
	}
	.email	{
		text-transform: uppercase;
		word-wrap: break-word;
	}
}