/*
-------------------------------------------------------------
  F O R M S
------------------------------------------------------------- */

/*
-----------------
  I N P U T S
----------------- */
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
  @include transition(background-color 0.24s ease-in-out);
  display: block;
  width: 100%;
  max-width: 400px;
  height: 40px;
  margin-bottom: 14px;
  padding: 0 12px;
  vertical-align: middle;
  border: none;
  border-bottom: solid 1px blue;
  border-radius: 0;
  background: none;
  box-shadow: none;
  color: $blue;
  font-family: $info;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  &:focus,
  &:active {
    outline: none;
  }
  &.error,
  &.is-invalid {
    border-color: $red;
    outline-color: $red;
    color: $red;
  }
  &.success,
  &.is-valid {
    border-color: $green;
    outline-color: $green;
    background-color: $page;
    color: $green;
  }
  &[disabled],
  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.6;
    border-color: $blue;
    &:focus,
    &:active {
      background-color: $blue;
    }
  }
  &.blue-input {
    border-bottom: solid 1px #fff;
    background: none;
    color: #fff;
  }
}


%large-input {
  margin: 0 auto 14px;
  font-family: $copy;
  font-style: italic;
  font-size: 20px;
  line-height: 26px;
}

/*
-----------------------------
  T E X T A R E A S
----------------------------- */
textarea {
  max-width: 100%;
  min-height: 120px;
  line-height: 1.5em;
}

.comment-form-comment textarea {
  min-height: 236px;
  border: 1px solid $blue;
}

/*
-----------------------------
  S E L E C T
----------------------------- */
select {
  -webkit-appearance: none;
}

/*
-----------------------------
  C O M M E N T   F O R M
----------------------------- */
.respond {
  .h2 {
    margin-bottom: 0.1em;
  }
  .link {
    display: block;
    margin-bottom: 2.2em;
  }
}

.responses {
  .h2 {
    margin: 0 0 1.1em 0;
  }
  .comment-author {
    margin-bottom: 0;
    font-style: normal;
  }
  .blog-comment {
    @extend %max-width-section;
  }
  .comment-content {
    margin-top: -8px;
    p {
      @extend .small-text;
      text-indent: 1em;
      text-align: left;
    }

  }
  .icon-asterisk {
    text-align: center;
    font-size: 22px;
    line-height: 22px;
  }
  .comment-date {
    margin: 0 0 .5em 0;
  }
}


.comment-form {
  max-width: 860px;
  margin: 0 auto;

  textarea::-webkit-input-placeholder { /* WebKit browsers */
    padding-top: 110px;
  }
  textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    padding-top: 110px;
  }
  textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    padding-top: 110px;
  }
  textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    padding-top: 110px;
  }
}


/*
-----------------------------
  P L A C E H O L D E R S
----------------------------- */
::-webkit-input-placeholder {
  color: $lightBlue;
}

:-moz-placeholder { /* Firefox 18- */
  color: $lightBlue;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $lightBlue;
}

:-ms-input-placeholder {  
  color: $lightBlue;
}




@media only screen and (min-width: 768px) { /* Tablets, smaller laptops */

  %large-input {
    height: 44px;
    margin: 0 auto 17px;
    font-size: 30px;
    line-height: 38px;
  }
  .comment-form-item {
    display: block;
    float: left;
    width: 33.33333%;
    padding-right: 33px;
  }
  .comment-form {
    p:nth-child(3) {
      padding-right: 0;
    }
  }

  .responses {
    .comment-content p {
      text-indent: 2em;
    }
  }
}