/*
-------------------------------------------------------------
  M O D A L S
------------------------------------------------------------- */
%modal {
  position: fixed;
  z-index: 1000;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  background-color: $blue;
  background-color: rgba($blue, 0.85);
  a,
  .link {
    @include trans(0.3s, ease-in-out);
    margin-bottom: 15px;
    font-size: 22px;
    color: $page;
    text-transform: uppercase;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: $page;
      text-decoration: underline;
    }
  }
  h4 {
    margin-bottom: 30px;
    color: #fff;
  }
  ::-webkit-input-placeholder {
    color: #fff;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
  }

  :-ms-input-placeholder {
    color: #fff;
  }
}

.modal-cat-tags {
  margin: 0 auto;
  text-align: center;
  li {
    display: inline-block;
    text-align: center;
    margin: 1em .5em;
    a.modal-category-tag {
      @extend %tag;
      border: 1px solid $page;
      padding: 15px 20px 12px;
      font-size: 130%;
      margin: 0;
    }
  }


}

/* Form elements */
%modal {
  input[type="text"],
  input[type="email"] {
    @extend .blue-input;
    @extend %large-input;
    margin-bottom: 25px;
    &:last-of-type {
      margin-bottom: 45px;
    }
  }
  .error-message {
    @extend .info-text;
    margin: -35px 0 30px;
    color: #fff;
  }
  button,
  input[type="submit"] {
    @extend %blue-btn;
  }
  .secondary-btn {
    @extend %transparent-btn-on-blue;
  }
}

@media only screen and (min-width: 768px) { /* Tablets, smaller laptops */
  %modal {
    padding-top: 25px;
  }
}
